apiVersion: apps/v1
kind: Deployment
metadata:
  name: encoder-outcome-prediction-{{ icd_version }}-{{ mimic_split }}-agent-deployment
  labels:
    app: encoder-outcome-prediction
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: encoder-outcome-prediction
  template:
    metadata:
      labels:
        app: encoder-outcome-prediction
    spec:
      containers:
        - name: encoder-outcome-prediction
          image: registry.datexis.com/tsteffek/encoderoutcomeprediction:{{ image_tag }}
          command: [
              "wandb", "agent",
              "--count", "{{ hpo_count }}",
              "datexis-phd/EncoderOutcomePred/sweepid"
          ]
          env:
            - name: LANG
              value: 'C.UTF-8'
            - name: TOKENIZERS_PARALLELISM
              value: 'true'
            - name: NCCL_DEBUG
              value: 'INFO'
            - name: HF_HOME
              value: "/model-pvc/huggingface_cache"
            - name: WANDB_ENTITY
              valueFrom:
                secretKeyRef:
                  name: wandb
                  key: entity
            - name: WANDB_API_KEY
              valueFrom:
                secretKeyRef:
                  name: wandb
                  key: api_key
          resources:
            requests:
              cpu: "1"
            limits:
              nvidia.com/gpu: "1"
          volumeMounts:
            - name: data-pvc
              mountPath: /data-pvc
            - name: model-pvc
              mountPath: /model-pvc
            - name: dshm
              mountPath: /dev/shm
      nodeSelector:
        gpu: a100
      volumes:
        - name: data-pvc
          persistentVolumeClaim:
            claimName: {{ data_pvc }}
        - name: model-pvc
          persistentVolumeClaim:
            claimName: {{ model_pvc }}
        - name: dshm
          emptyDir:
            medium: Memory
      imagePullSecrets:
        - name: private-registry-auth
      restartPolicy: Always
