name: clinical-r1-zero-unsloth
on:
  push:
    branches: [ master ]
    paths:
      - 'src/**'
      - 'pyproject.toml'
      - 'Dockerfile_unsloth'
      - '.github/workflows/main.yml'
  workflow_dispatch:
jobs:
  build-test-and-publish:
    runs-on: data-science-cluster
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Get short SHA
      id: sha
      run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
    - name: Login to Docker Registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSPHRASE }}
        registry: registry.datexis.com
    - name: Build image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: false
        load: true
        tags: |
          registry.datexis.com/datexis/clinical-r1-zero-unsloth:latest
          registry.datexis.com/datexis/clinical-r1-zero-unsloth:${{ steps.sha.outputs.sha }}
    - name: Run tests in Docker container
      run: docker run --rm --entrypoint pytest registry.datexis.com/datexis/clinical-r1-zero-unsloth:latest
    - name: Push images
      run: |
        docker push registry.datexis.com/datexis/clinical-r1-zero-unsloth:latest
        docker push registry.datexis.com/datexis/clinical-r1-zero-unsloth:${{ steps.sha.outputs.sha }}
